@model IEnumerable<MVCApp.Models.UserModel>

@{
    ViewBag.Title = "View Users";
}

<h2>All Users</h2>

@if (User.IsInRole("Admin")) { 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            Role Name
        </th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @switch (item.RoleId)
            {
                case 0: <p>Admin</p>;
                    break;
                case 1: <p>Manager</p>;
                    break;
                case 2: <p>User</p>;
                    break;
                case null: <p>Role Not Set</p>
                    break;
            }
        </td>
        <td>
            @Html.ActionLink("Change Role", "EditRole", "Home", new { userId = item.UserId, role = item.RoleId, username = item.UserName, email = item.Email }, null)
        </td>
    </tr>
}

</table>
}
